/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        enter_kl {
            bindings = <&kp ENTER>;
            key-positions = <20 21>;
        };

        backspace_jl {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 21>;
        };

        backspace_jk {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        tab_df {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
        };

        escape_uio {
            bindings = <&kp ESCAPE>;
            key-positions = <7 8 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
  &none   &kp Q   &kp W     &kp E    &kp R    &kp T                                                &kp Y     &kp U      &kp I    &kp O             &kp P   &none
  &none   &kp A   &kp S     &kp D    &kp F    &kp G                                                &kp H     &kp J      &kp K    &kp L  &kp SINGLE_QUOTE   &none
  &none   &kp Z   &kp X     &kp C    &kp V    &kp B  &kp LSHFT  &kp LSHFT  &kp LSHFT  &kp LSHFT    &kp N     &kp M  &kp COMMA  &kp DOT          &kp FSLH   &none
                         &kp LGUI  &kp DEL  &kp RET  &kp SPACE    &kp ESC    &kp RET  &kp SPACE  &kp TAB  &kp BSPC   &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        num_sym {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &kp NUMBER_7  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans        &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans
            >;
        };

        nav {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
